<!DOCTYPE html>
<html lang="id">

<head>
  <title>bologhu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      margin: 0;
      padding: 0;
    }

    h1 {
      padding: 15px;
      margin: 0;
      color: #9c9c9c;
    }

    nav {
      margin: 0 15px;
      padding: 10px;
      border: solid 1px #dddddd;
    }

    nav a {
      padding: 5px;
      display: inline-block;
      color: #000000;
      font-weight: bold;
      text-decoration: none;
    }

    nav a:hover {
      color: #0e83b9;
    }

    .content {
      margin: 15px;
      padding: 15px;
      border: solid 1px #dddddd;
    }

    .content h1 {
      padding: 15px 0;
    }

    footer {
      padding: 15px;
      border: solid 1px #dddddd;
    }
  </style>

</head>

<body>
  <h1>Main Layout</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>
  <div class="content">
    {{{body}}}
  </div>
</body>

</html>