<main class="form-signin">
  <form action="/login" method="post" autocomplete="off">
    <div class="text-center">
      <img class="mb-4" src="/svg/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="mb-3 fw-normal">Please sign in</h1>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off"/>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off"/>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-3 mb-3 text-muted text-center">&copy; 2017–2021</p>
  </form>
</main>