/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top   : 6rem;
  padding-bottom: 3rem;
  color         : #5a5a5a;
}
